# RoomService Configuration
ROOMSERVICE_HOST=localhost:50050
ROOMSERVICE_API_KEY=123

# Production example:
# ROOMSERVICE_HOST=roomky.chickenkiller.com:50052
# ROOMSERVICE_API_KEY=rs_live_tenant-20s-b15968f3_dbb54fa5-e970-4b0e-a044-41313bf79dee

# Server Configuration
PORT=3002
NODE_ENV=development